.CV{
    width: 750px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.InfoPrin{
    height: 250px;
}

.Photo{
    float : left;
    text-align: center;
}

.Info{
    float : right;
    text-align: center;
}

.Name{
    margin-top : 50px;
    font-size : x-large;
}

.InfoScnd{
}

.Text{
    float : left;
}

.Tittle{
    text-align : center;
    font-size: x-large;
}

.SubTittle{
    font-size: large;
}

.Side{
    margin-left: 450px;
}

.ParaSide{
    text-align: center;
}

.colorB2{
    color : #68b99e;
}
