.CV{
    width: 750px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.InfoPrin{
    height: 250px;
}

.Photo{
    float : left;
    text-align: center;
}

.Info{
    float : right;
    text-align: center;
}

.Name{
    margin-top : 50px;
    font-size : x-large;
}

.InfoScnd{
    display : grid;
    grid-template-columns: 500px 250px;
    justify-content: space-between;
    float: left;
}

.TextAlign{
    text-align: center;
}

.TextJust{
    text-align: justify;
}

.colorB2{
    color : #68b99e;
}

/*
.Text{
    float : left;
}

.Side{
    margin-left: 450px;
}
*/